body {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

div {
	padding: 0;
}

body,
div#description-box,
div#lists-box,
div#default-config-box {
	display: flex;
	flex-direction: column;
	padding: 0.5em;
	width: 100%;
}

div#lists-box {
	flex-direction: row !important;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: stretch;
}

div#lists-box > div {
	display: flex;
	flex-direction: column;
	min-width: 20rem;
	width: 100%;
}

span#words-list-label,
span#n-grams-list-label,
span#global-settings-label {
	font-weight: bold;
}

div#default-config-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

div#default-config-box > div#config-description {
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 1rem;
}

div#default-config-box > div {
	width: 30%;
	min-width: 10rem;
}

div#lists-box > div > span {
	margin: 0 auto;
}

span#max-dimensions-label,
span#global-settings-label {
	margin-bottom: 0.5em;
	width: 100%;
}

span {
	display: inline-block;
	width: 100%;
	overflow: hidden;
}

div.slider-label {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

div.slider-preview {
	height: 2rem;
	width: 3rem;
	padding: 0;
	display: flex;
	background-color: rgba(0, 96, 223, 0.8);
}

div#max-height-preview,
div#max-width-preview,
div#max-size-preview {
	margin: auto;
	padding: 0;
	background-color: orange;
	width: 100%;
	height: 100%;
}

input[type="range"],
input[type="text"] {
	width: 100%;
}

ul > li,
li > span,
li > input {
	width: 100%;
}

ul {
	list-style-type: none;
	padding: 0;
	display: block;
	width: 100%;
}

li {
	padding: 0.5em 1em;
	width: 100%;
}

li:nth-of-type(2n) {
	background-color: rgba(150, 150, 150, 0.2);
	border-top: 0.2em solid rgba(100, 100, 100, 0.3);
	border-bottom: 0.2em solid rgba(100, 100, 100, 0.3);
}

li:nth-of-type(1) {
	background-color: rgba(0, 96, 223, 0.8);
	color: white;
}

li input[type="text"] {
	display: none;
	border: 0;
	outline: 0;
	padding: 0;
	background: none;
	color: inherit;
}

li.edit span {
	display: none;
}

li.edit input {
	display: initial;
}
